@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;600&display=swap');

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-toggler {
    border: none;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  /* Sets the body font size to 16px */
  line-height: 1.6;
  /* specifies the height of a line of text */
  position: relative;
  padding-bottom: 95px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: scroll;

}

a, h1, h2, h3, h4, h5, h6, p, button {
  font-family: 'Josefin Sans', sans-serif;
}

h1 {
  font-weight: 600;
}

h1 {
  font-weight: 600;
}

h5 {
  text-align: center;
}


p {
  display: block;
  margin-block-start: 5em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 400;
  text-align: center;
}

button, .button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color:#e2e2e2;
  /* the text color should change to white but it doesn't change unless I add !important */ 
  color: white !important;
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 4px;
  border-bottom: 2px solid rgba(0,0,0,0.3);
  transition: 0.5s opacity;
}

button:hover, 
button:focus 
.button:hover,
.button:focus {
  /* this lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* this reduces the opacity of the button to 80% */
  opacity: 0.8;
}

.button_secondary {
  background-color:rgb(165, 115, 115)
  
}


.home-text {
  margin-top: 35%;
}

.profile-image {
    border-radius: 50%;
    margin-top: 15%;
    border: #000 solid 1px;
}

.custom-container {
    overflow-y: scroll;
}

.project-border {
    border: 1px solid #000;
}

.chat-img{
    max-width: 24%;
}

.case-img {
  max-width: 100%;
}

.Firebase {
  max-width: 100%;
  margin-top: 2%;
}

.express {
  position: relative;
  top: 30%;
}

.img {
  max-width: 50px;
  margin-left: 5px;
  margin-right: 5px;
}

.social-container {
  margin: 5%;
  text-align: center;
}

.case-study {
  padding-left: 12%;
  padding-right: 12%;
}

a, a:hover {
  text-decoration: none;
  color: #861414;
}

.connect, .connect:hover {
  color: #000;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.div {
  display: block;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-end;
  margin-top: auto;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* start of the grid fallback */
.grid__item {
  display: inline-block;
  width: 33%;
}
/*end of the grid fallback */ 

@supports (display: grid) {
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0px;
  margin: 0 auto;
}

.grid__item {
  background-color:#e2e2e2;
  width: auto;
  min-height: auto;
  margin: 20px;
  padding: 20px;
}

.grid__item:last-child {
  grid-column: 3 / 3;
}
}

/* Image Resize */
.thumbnail {
  width: 400px;
  height: auto;
}


@media (min-width: 300px) and (max-width: 700px)  {
    .home-text {
        margin-top: 0;
    }
    .profile-image {
      margin-top: 4%;
    }
    .navbar-brand,
    .navbar-nav, .nav-link {
      font-size: 12px;
    }
}

@media (min-width: 300px) and (max-width: 370px) {
    .btn-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .btn-container a {
      margin-bottom: 5px;
      margin-top: 5px;
    }
    p {
      font-size: 12px;
    }
  }